
$bodyBG : rgb(38, 36, 37); 
$mainBG : rgb(60, 58, 59);

body {
  background-color: rgb(38, 36, 37);
  padding: 50px 0;
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.main{
	  background-color: rgb(38, 36, 37);
	    color: white;
	    width: auto;
	    margin: 0 auto;
	    max-width: 960px;
}
.left-column{
	float:left;
	height: auto;
		width: 30%;
}
.right-column{
	height: auto;
	float: right;
	width: 66%;
}
a {
  color: #00B7FF;
}
svg{

}
.stats{
	border: none;
}
rect{
	fill: steelblue;
}
.main{
    background-color:rgb(60, 58, 59); 
    max-width: 960px;
    display: block;
    padding: 20px 2%;
    overflow: hidden; 
}

.main  section{
    padding: 20px;
    margin-bottom: 20px;
    min-height: 20px;
    width: 100%;
    display: block;
    float: right;
    vertical-align: top;
    color: white;
    background-color: rgb(38, 36, 37);
    border-top: 2px solid #d7551a;
    box-sizing: border-box;
}


#mostRecent{
	background-color:rgb(60, 58, 59); 
	max-width: 960px;
	display: block;
	padding: 20px 2%;
	overflow: hidden;
}
.Links, .Summary {
	margin-bottom: 20px;
}
.Links, .Openers, .Summary{
	display: inline-block;
    width: 100%;
	background-color: rgb(38, 36, 37);
	padding: 20px;	
	vertical-align: top;
	box-sizing: border-box;
	overflow: hidden;
	border-top: 2px solid #d7551a;
}
.Rates, .circleGraphs{
	margin-bottom: 20px;
	min-height: 20px;
	width: 100%;
	display: block;
	float: right;
	vertical-align: top;
	color: white;
	background-color: rgb(38, 36, 37);
	border-top: 2px solid #d7551a;
	box-sizing: border-box;
}


.axis line {
  fill: none;
  stroke: white;
  shape-rendering: crispEdges;
}
text{
	fill: white;
}

.axis path {
  display: none;
}
.shadow{
	fill: rgb(60, 58, 59);
}
.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
.opens{
  fill: none;
  stroke: #d7551a;
  stroke-width: 1.5px;
}
rect.opens {
  fill: #d7551a;
  stroke: none;
}

.background {
  fill:  $mainBG;
}
.percentage{
	font-size: 24px;
}
.mainStat{
    font-size: 36px;
}
.open-meter .foreground {
  fill: orange;
}
.progess-meter .foreground{
	fill: green;
}

.click-meter .foreground {
  fill: steelblue;
}
.progress-meter text {
  font: 10px "Lucida Grande", Helvetica, Arial, sans-serif;

  font-size: 12px;
  font-weight: 300;
}