extends layout

block js_load
        script(src='/javascripts/d3.js')
        script(src='/javascripts/google.js')
        script.
          var DATA = !{JSON.stringify(data)};

block content
    .main
      h1 Welcome to #{title}
      div#mostRecent
        .right-column
            div.circleGraphs
            div.Rates
        .left-column         
             div.Summary.pieChart
             div.Links
             div.Openers
     
