extends layout

block content
    .main
      h1 Welcome to #{title}
      div#mostRecent
        .right-column
            div.circleGraphs
            div.Rates
        .left-column         
             div.Summary
             div.Links
             div.Openers
     
