doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')

    block js_load
        script(src='/javascripts/d3.js')
        script(src='/javascripts/mailchimp.js')
        script.
          var CAMPAIGNS = !{JSON.stringify(data)};

body(onload="init();")
    block content

