extends layout

block js_load
        script(src='/javascripts/d3.js')
        script(src='/javascripts/summary.js')
        script.
          var DATA = !{JSON.stringify(data)};

block content
    header
    .main
      h1 Welcome to #{title}
      section.NewsLetter
         h1 Newsletter
      section.SplashPage
        h1 Fintech.io 
      section.Platform
        h1 Platform
     
